/*Font for all the site (similar as Arial, used by Google*/
html {
    font-style: Arial /*Crimson Text*/, serif;
}

header {
    min-height: 60px;
    width: 100%;
    display: flex;
}

main {
    padding-top: 50px;
}

.logo {
    display: block;
    position: absolute;
    top: 30%;
    left: 42%;
}

form {
    justify-self: center;
    position: relative;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 5px 0px 10px 10px;
    min-height: 40px;
    width: 100%;
}

/*Testers for the display*/
.test0 {background: black;}
.test1 {background: lightgrey;}
.test2 {background: lightgreen;}
.test3 {background: lightsalmon;}