/*Font for all the site (similar as Arial, used by Google)*/
html {
    font-family: arial, 'Crimson Text', sans-serif;
}

header {
    min-height: 60px;
    width: 95%;
    padding: 0px 0px 0px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 14px;
}

a {
    color: black;
    text-decoration: none;
    opacity: 0.75;

    margin: 0px 0px 0px 10px;
}

a:hover {
    text-decoration: underline;
}

.rightHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#imagesLink {
    margin-right: 10px;
}

.singIn {
    background: #4285f4;
    color: white;
    font-weight: bold;
    font-size: small;
    margin-left: 10px;
    padding: 7.5px 12px 7.5px 12px;
    border-radius: 2px;
}

.searcher {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
    grid-template-rows: 92px 40px 35px;
    grid-gap: 30px 10px;

    position: absolute;
    top: 23%;
    left: 40%;
}

.logo {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.square {
    padding: 0px;
}

input {
    grid-column: 1 / 5;
    grid-row: 2 / 3;

    font-size: large;
    padding-left: 5%;

    border-radius: 25px;
    border: 1px solid lightgray;
}

input:focus {
    outline: none;
    box-shadow: 1px 1px 2px 1px grey, -1px -1px 2px 1px grey;
}

button {
    background-color: rgb(242, 242, 242);
    font-size: 14px;
    color: #5F6368;
    border: none;
    border-radius: 5px;
}

button:focus {
    outline: none;
}

.search {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.lucky {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px 0px 10px 10px;
    min-height: 25px;
    width: 100%;
    background: rgb(242, 242, 242);
    font-size: 14px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rightLinks {
    padding-right: 30px;
}

.footerLinks {
    margin-left: 30px;
}

/*Testers for the display
.test0 {background: black;}
.test1 {background: lightgrey;}
.test2 {background: lightgreen;}*/