/*Font for all the site (similar as Arial, used by Google*/
html {
    font-style: Arial, 'Crimson Text', sans-serif;
}

header {
    min-height: 60px;
    width: 97%;
    margin: 0px 0px 0px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 15px;
}

a {
    color: black;
    text-decoration: none;

    margin: 0px 0px 0px 10px;
}

a:hover {
    text-decoration: underline;
}

.singIn {
    background: #4285f4;
    color: white;
    font-weight: bold;
    font-size: small;
}

.searcher {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 92px 50px 40px;
    grid-gap: 20px 10px;

    position: absolute;
    top: 40%;
    left: 35%;
}

.logo {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

input {
    grid-column: 1 / 5;
    grid-row: 2 / 3;

    font-size: large;
    padding-left: 5%;

    border-radius: 25px;
    border: 1px solid lightgray;
}

input:focus {
    outline: none;
    box-shadow: 1px 1px 2px 1px grey, -1px -1px 2px 1px grey;
}

button {
    background-color: lightgray;
    font-size: 16px;
    color: darkcyan;
    border: lightgray;
    border-radius: 5px;
}

button:focus {
    outline: none;
}

.search {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.lucky {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 5px 0px 10px 10px;
    min-height: 40px;
    width: 100%;
}

/*Testers for the display*/
.test0 {background: black;}
.test1 {background: lightgrey;}
.test2 {background: lightgreen;}
.test3 {background: lightsalmon;}